@charset "UFT-8";

body{
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        background: rgba(0, 0, 0, 0.973);
        color: white;
        animation: enter_animation 1s ease;

        & #container_main{
                position: relative;
                width: 94vw;
                height: 96vh;
                margin: auto;
                background: rgb(27, 27, 27);
                border-radius: 10px;
                overflow-y: scroll;
        }
}

#container_progress{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 10%;
}

#progress_bar{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 10px;
        background: white;
        border-radius: 20px;

        & .dots{
                position: absolute;
                bottom: 50%;
                transform: translate(0,50%);
                width: 60px;
                height: 30px;
                background: white;
                border-radius: 20px;
                overflow: hidden;
        };

        & #first{
                transform: translate(-50%,50%);
        };

        & #first_check{
                position: absolute;
                bottom: 50%;
                transform: translate(0,50%);
                z-index: -1;
                transform: translate(-50%,50%);
                width: 66px;
                height: 36px;
                background: red;
                border-radius: 20px;
                overflow-x: hidden;
                animation: check_anim 1s linear;
        }

        & #second{
                left: 50%;
                transform: translate(-50%,50%);
        };

        & #second_check{
                position: absolute;
                bottom: 50%;
                transform: translate(0,50%);
                z-index: -1;
                left: 50%;
                transform: translate(-50%,50%);
                width: 66px;
                height: 36px;
                background: red;
                border-radius: 20px;
                animation: check_anim 1s linear;
                animation-play-state: paused;
        }
        
        & #third{
                right: 0px;
                transform: translate(50%,50%);
        };

        & #third_check{
                position: absolute;
                bottom: 50%;
                transform: translate(0,50%);
                z-index: -1;
                right: 0px;
                transform: translate(50%,50%);
                width: 66px;
                height: 36px;
                background: red;
                border-radius: 20px;
                animation: check_anim 1s linear;
                animation-play-state: paused;
        }
}

#progress_bar_check{
        content: "";
        position: absolute;
        z-index: -1;
        top: calc(50% - 2px);
        transform: translate(0%, -35%);
        left: -5%;
        width: 30px;
        height: 17px;
        background: red;
        border-radius: 10px;
}

#sliders{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
        width: 80%;
        height: 200vh;
        background: rgb(58, 58, 58);
        border-radius: 10px;

        & #slide1{
                position: relative;

                & #img_nj{
                        position: absolute;
                        width: 100px;
                        height: auto;
                }
        }
}




@keyframes check_anim{
    from{
        width: 0px;
        height: 0px;
    }
    to{
        width: 66px;
        height: 36px;
    }
}