@charset "UFT-8";

/* Cores */

:root{
    --cor1: #F20C1F;
    --cor2: #F20C49;
    --cor3: #F20C78;
    --cor4: #FE3A9C;
}


/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');


/* Código */

body{
        position: relative;
        z-index: -3;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        text-align: center;
        background: rgba(0, 0, 0, 0.973);
        color: white;
}

/* Página 1 */

.container_carrossel{
		border-radius: 10px;
        background-color: white;
        margin: 0 auto;
        width: 300px;
		height: 300px;
		overflow: hidden;
        cursor: pointer;
}

.carrossel{
        width: 400%;
        height: 300px;
        display: flex;
}

.carrossel input{
	    display: none;
}

.slide{
	    width: auto;

	& img{
		width: 300px;
		height: 100%;
	}
}

#r1:checked ~ .first{
	    margin-left: 0;
}

#r2:checked ~ .first{
	    margin-left: -25%;
}

#r3:checked ~ .first{
	    margin-left: -50%;
}

#r4:checked ~ .first{
	    margin-left: -75%;
}

#r5:checked ~ .first{
	    margin-left: -100%;
}

#music_player{
        max-width: 320px;
        margin: auto;
}

#music_text{
        position: relative;
        height: 60px;
        margin-top: 10px;
}

#desc{
        position: absolute;
        width: 100px;
        top: 50%;
        left: 0%;
        transform: translate(0%,-50%);

        & #title{
            width: fit-content;
            height: 40px;
            font-size: 40px;
            text-align: start;
            margin: 0;
            font-family: "Zain", sans-serif;
            font-weight: bold;
            font-style: normal;
        };

        & #artist{
            width: fit-content;
            font-size: 18px;
            text-align: start;
            margin: 0;
            font-family: "Zain", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
}

#container_buttons{
        position: relative;
        width: 300px;
        height: 40px;
        margin-top: 5px;

        & .icon{
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            margin: 0;
            border-radius: 10px;
            cursor: pointer;
        };

        & .icon:hover{
            background: rgba(255, 255, 255, 0.24);
        }

        & i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 24px;
            color: var(--cor3);
        }

        & #back{
            left: 12%;
            width: 35px;
            height: 35px;

                & i{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 20px;
                }
        }

        & #music_bar{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 130px;
            height: 80%;
            padding: 0px 5px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.158);
            cursor: pointer;

            & #ref_bar{
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;

            & .bar{
                width: 6px;
                border: 10px;
                background: white;
                border-radius: 10px;
                animation: bar_move 1.5s ease-in-out infinite;
                }

                & .bar:nth-child(1){
                    background: var(--cor1);
                    animation-delay: 1s;
                }

                & .bar:nth-child(2){
                    background: var(--cor2);
                    animation-delay: 0.8s;
                }
                
                & .bar:nth-child(3){
                    background: var(--cor3);
                    animation-delay: 0.6s;
                }

                & .bar:nth-child(4){
                    background: var(--cor4);
                    animation-delay: 0.4s;
                }

                & .bar:nth-child(5){
                    background: var(--cor1);
                    animation-delay: 0.2s;
                }

                & .bar:nth-child(6){
                    background: var(--cor2);
                    animation-delay: 0.2s;
                }

                & .bar:nth-child(7){
                    background: var(--cor3);
                    animation-delay: 0.4s;
                }
                
                & .bar:nth-child(8){
                    background: var(--cor4);
                    animation-delay: 0.6s;
                }

                & .bar:nth-child(9){
                    background: var(--cor1);
                    animation-delay: 0.8s;
                }

                & .bar:nth-child(10){
                    background: var(--cor2);
                    animation-delay: 1s;
                }
            }
        }

        & #next{
                right: 12%;
                width: 35px;
                height: 35px;

                & i{
                    position: absolute;
                    left: 52%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 20px;
                }
        };
}


/* Página 2 */

#page2{
        position: inherit;
        background-color: rgb(27, 27, 27);
        width: fit-content;
        margin: 20px auto 20px auto;
        border-radius: 10px;
}

#page2::before{
        content: "";
        position: absolute;
        z-index: -2;
        left: -5px;
        top: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: linear-gradient(45deg, var(--cor1), var(--cor4));
        background-size: 200%;
        border-radius:10px;
        animation: steam 5s linear infinite;
        animation-delay: 2s;
        filter: blur(5px);
}

.container_main{
        position: relative;
        z-index: 0;
        background-color: rgb(27, 27, 27);
        width: fit-content;
        overflow-x: hidden;
        margin: 20px auto 20px auto;
        padding: 10px;
        border-radius: 10px;
}

.container2{
        display: inline-flex;
        position: relative;
        justify-content: center;
        align-items: center;
}

.container2>img{
        background-color: white;
        display: block;
        width: 320px;
        height: auto;
        margin: 0px;
        border-radius: 10px;
}

.inf_casal{
        margin: 0px;
        position: relative;
}

.inf_casal>header{
        margin: 10px 0px;
        text-align: start;
        font-family: 'Zain';
}

.inf_casal>header>h2{
        width: fit-content;
        height: 41px;
        font-size: 37px;
        font-weight: bold;
        margin: 0px;
        margin: 0px 0px 0px 10px;
        overflow: hidden;
        text-wrap: nowrap;
        animation: slide 2s ease-in;
                
}

.inf_casal>header>h3{
        width: fit-content;
        font-size: 19px;
        font-weight: 300;
        margin: 0px;
        margin: 0px 0px 0px 11px;
        overflow: hidden;
        text-wrap: nowrap;
        animation: slide 2s ease-in .1s;
}

.contadores{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px 1px;
        padding: 10px 1% 10px 13%;
        border-radius: 0px 10px 10px 0px;
        width: 84%;
        margin: 0px 0px 0px -10px;
        background: linear-gradient(90deg, rgb(15, 15, 15), rgb(2, 2, 2),black 50%);
        animation: transx_pos 1s ease;
}

.contadores::before{
        content: "";
        position: absolute;
        z-index: -1;
        left: -2.5px;
        top: -2.5px;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        background: linear-gradient(45deg, var(--cor3), var(--cor4));
        background-size: 200%;
        border-radius: 0px 10px 10px 0px;
        animation: steam 5s linear infinite;
        filter: blur(5px);
    }


.box{
        position: relative;
        left: 50%;
        transform: translate(-50%,0%);
        width: 80px;
        height: 80px;
        background: rgba(255, 255, 255, 0.185);
        box-shadow: -3px 3px 3px var(--cor3);
        border-radius: 10px;
        animation: 
                opacity_anim 3s ease;
}

.box_text{
        font-weight: bold;
        & div{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 32px;
            font-family: "Love Light", cursive;
            font-weight: 500;
            font-style: normal;
        };

        & p{
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%,0%);
            margin: 0px;
            font-family: 'Zain';
            font-weight: 300;
        }
}

/* Página 3 */

#page3{
        position: relative;
        background: url("Img/Envelope.png") center center no-repeat;
        background-size:contain;
        width: fit-content;
        margin: 20px auto 20px auto;
        cursor: pointer;
}

#page3::before{
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        background: linear-gradient(45deg, var(--cor1), var(--cor4));
        background-size: 200%;
        filter: blur(10px);
        animation: steam 5s linear infinite 2s;
}

#msg{
        display: none;
        position: absolute;
        width: 100vw;
        height: 200vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(0, 0, 0, 0.596);

}

#text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90vw;
        height: 95vh;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.534);
        animation: msg_anim 1s ease forwards;
}

#text_container{
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        font-family: "Zain", sans-serif;
        font-style: normal;


        & header, article,  footer{
            position:absolute;
            color: black
        };

        & .hor_row{
            display: block;
            height: 2px;
            width: 100%;
            background: black
        };

        & header{
            top: 0px;
            height: 20%;
            font-size: 19px;
            font-weight: bold;

            & h1{
                margin: 0
            }
        };

        & article{
            width: 100%;
            height: 65%;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Zain", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 22px;
        };

        & footer{
            width: 100%;
            height: 5%;
            bottom: 0px;
            font-size: 19px;
            font-weight: 300;
        }
}

#container_main3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 199px;
        /* animation: bounce_container 2s ease infinite; */
        
}

#container_main3 h2{
        font-size: 26px;
        margin: 20px 0px;
        padding: 0px 15px;
        animation: bounce_text 2s infinite;
}

/* Página 4 */

#page4{
        position: relative;
        z-index: -1;
        width: 340px;
        height: 550px;
        margin: 20px auto 20px auto;
}

#page4::before{
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        background: linear-gradient(45deg, var(--cor1), var(--cor4));
        background-size: 200%;
        filter: blur(10px);
        border-radius: 10px;
        animation: steam 5s linear infinite 2s;
}

#page4_structure{
        width: 100%;
        height: 550px;
        overflow-y: hidden;
        border-radius: 10px;
}

#container_page4{
        position: relative;
        width: 340px;
        height: 550px;
        background: url(Img/wrapped-banner.png) rgba(255, 255, 255, 0.178) no-repeat center center;
        background-size: cover;

        & #page4_text{
                position: absolute;
                top: 24%;
                left: 50%;
                transform: translate(-50%,0%);
                width: 100%;
                background: transparent;

                & h2,h3{
                    margin: 0;
                }

                & h2{  
                    font-size: 36px;
                }

                & h3{
                        font-size: 14px;
                        margin-top: 5px;
                }
        }

        & #page4_action_container{
                position: absolute;
                bottom: 2%;
                left: 50%;
                transform: translate(-50%,0%);
                animation: bounce_icon 2s ease infinite;
                cursor: pointer;

                & #page4_icon{
                        font-size: 36px;
                }
                
        }
}

#page4_confirm{
        position: relative;
        z-index: -1;
        width: 100%;
        height: 60px;
        background: #020202;
        margin-top: -8px;
        border-radius: 0px 0px 10px 10px;
        padding-top: 8px;
        
        & div{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 160px;
            height: 40px;
            margin: 0;

            & p{
                margin: 0;
                padding: 5px;
            }
        }
}

/* Animações */

@keyframes slide{
        from{
            width: 0px;
            border-right: .05em solid white;
        }
        to{
            width: 100%;
            border: none;
        }
}

@keyframes transx_pos{
        from{
            width: 0px;
        }
        to{
            width: 84%;;
        }
}

@keyframes opacity_anim {
        from{
            transform: translate(-100%, 0%);
            opacity: 0;
        }
        to{
            transform: translate(-50%, 0%);
            opacity: 1;
        }
}

@keyframes steam {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 200% 0; 
        }
}

@keyframes msg_anim{
    from{
        transform: translate(-50%,100%);
    }
    to{
        transform: translate(-50%,-50%);
    }
}

@keyframes bounce_container{
    0%, 20%, 50%, 80%, 100% {
        width: 340px;
        height: 199px;
    }
	40% {
        width: 350px;
        height: 204px;
    }
	60% {
        width: 350px;
        height: 204px;
    }
}

@keyframes bounce_icon{
    0%, 20%, 50%, 80%, 100% {
        bottom: 2%;
    }
	40% {
        bottom: 4%;
    }
	60% {
        bottom: 3%;
    }
}

@keyframes bar_move{
        0%, 100%{
            height: 2px;
        }
        50%{
            height: 70%;
        }
}